@model Test_PixlPark.Models.IndexViewModel
@using Test_PixlPark.Helpers
@{
    ViewBag.Title = "Заказы";
}
<script>
    function Hidden(id) {
        console.log(id);
        console.log(document.getElementById(id).style.display);
        document.getElementById(id).hidden = !document.getElementById(id).hidden;
    }
</script>
<h3>@ViewBag.Message</h3>
<ul class="list-group">
    <li class="list-group-item list-group-item-info">Request Token: @Session["requestToken"]</li>
    <li class="list-group-item list-group-item-info">Access Token: @Session["accessToken"]</li>
    @if (Convert.ToBoolean(@Session["LogIn"]))
    {
        <li class="list-group-item list-group-item-success">Авторизованы: Да</li>
    }
    else
    {
        <li class="list-group-item list-group-item-success">Авторизованы: Нет</li>
    }
</ul>

<ul class="list-group list-group-flush">
    @foreach (Test_PixlPark.Models.Order b in Model.Orders)
    {
        <li class="list-group-item">

            <div class="row">
                <div class="col">
                    <h4>@b.Title</h4>

                    <button class="btn btn-primary" type="button" onclick="Hidden('info@{@b.Id}');">
                        Подробнее
                    </button>
                </div>
                
            </div>
            
    <div class="row" id="info@{@b.Id}" hidden>
        <div class="col">
            <table class="table" style="margin-top:15px">
                <caption>Подробности</caption>
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Статус</th>
                        <th scope="col">Итоговая цена</th>
                        <th scope="col">Дата создания</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@b.Id</td>
                        <td>@b.Status</td>
                        <td>@b.TotalPrice</td>
                        <td>@b.DateCreated</td>
                    </tr>
                </tbody>
            </table>
        </div>
        @if (@b.DeliveryAddress != null)
        {
            <div class="col">
                <table class="table" style="margin-top:15px">
                    <caption>Доставка</caption>
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Индекс</th>
                            <th scope="col">Адрес</th>
                            <th scope="col">Город</th>
                            <th scope="col">Страна</th>
                            <th scope="col">ФИО</th>
                            <th scope="col">Телефон</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@b.DeliveryAddress.ZipCode</td>
                            <td>@b.DeliveryAddress.AddressLine1</td>
                            <td>@b.DeliveryAddress.City</td>
                            <td>@b.DeliveryAddress.Country</td>
                            <td>@b.DeliveryAddress.FullName</td>
                            <td>@b.DeliveryAddress.Phone</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        }
    </div>
            </li>

    }
</ul>
    <div class="btn-group">
        @Html.PageLinks(Model.PageInfo, x => Url.Action("Orders", new { page = x }))
    </div>
